/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*End of HTML BP*/

/* Colors!!!               
grey rgb(104,113,105)
light green rgb(169,186,157)
light grey almost white rgb(208,217,205)
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width:65%;
  height:auto;
}


body{
  margin:0 auto;
  background-color:rgb(169,186,157,.3) ;
  width:460px;
  font-family: 'Times New Roman', Times, serif;
}

nav a{
  color: #000;
  background-color: rgb(104,113,105,.6);
  padding:5px;
  border:1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

nav{
  margin:10px;
  display: flex;
  justify-content: center;
}

nav a:hover{
  text-decoration: none;
  background-color:transparent;
  color: black;
  transition: background-color .2s ease
}

h1{
  text-align: center;
  font-family: Palatino Linotype;
  font-size: 50px;
  background-color: rgb(104,113,105,.6);
  padding: 15px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-left:2px solid black;
  border-right:2px solid black;
  border-top:2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  display: block;
  margin: auto;
  border:2px solid #000;
  border-radius: 180px;
}

#about{
  background-color: rgb(104,113,105,.6);
  padding: 15px;
  border-left:2px solid black;
  border-right:2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about a{
  text-decoration: none;
  color: black;
}

#about p{
  padding: 15px;
  font-weight: 400;
  font-size: 18px;
}

/*#about ul{
text-decoration: underline;
text-align: center;

}

#about ul li{
  display: inline-block;
  text-align: left;
}

#about ul li a{
  background-color: #fff;
  
}
*/
#skills{
  border-left:2px solid black;
  border-right:2px solid black;
  background-color: rgb(104,113,105,.6);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#experience{
  border-left:2px solid black;
  border-right:2px solid black;
  background-color: rgb(104,113,105,.6);
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#education{
  border-left:2px solid black;
  border-right:2px solid black;
  background-color: rgb(104,113,105,.6);
  padding: 15px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom:2px solid black;
}

dl{
  display: grid;
}

dt{
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}
dd{
  grid-column: 2;
  padding: 20px;
  font-weight: bold;
}

#skills h2{
  text-align: center;
  background-color: #000;
  color:rgb(104,113,105);
  border-radius: 18px;
  font-size:30px;
}

#experience h2{
  text-align: center;
  background-color: #000;
  color:rgb(104,113,105);
  border-radius: 18px;
  font-size:30px;
}

#education h2{
  text-align: center;
  background-color: #000;
  color:rgb(104,113,105);
  border-radius: 18px;
  font-size:30px;
}

#skills ul li{
  font-size: 20px;
}

footer{
  text-align: center;
}





/*                Media Queries                */


@media screen and (min-width:768px){

body{
  width:800px;
}

img{
  display: flex;
  float: left;
  max-width:50%;
  margin-right: 50px;
}

#about p{
  font-size:25px;
}

#about dt{
  font-size:20px;
}

#about dd{
  font-size:20px;
}

#about ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#about ul li{
  padding:20px;
  text-decoration: underline;
  font-size: 25px;
}

nav a{
  font-size: 30px;
}

#skills ul li{
display: inline;
font-size: 30px;
padding:10px;
text-decoration: underline;
}

#experience h3{
font-size:25px;
}

#education h3{
font-size:25px;
}

#experience span{
  font-size:20px;
}

#experience a{
  font-size:20px;
}

#experience p{
  font-size:20px;
}

#education span{
  font-size:20px;
}


}

@media screen and (min-width:1060px){

body{
  margin:20px auto;
  width: fit-content;
}

nav{
  width:97%;
  margin:1.49%;
}

nav a{
  font-size: 45px;
}

.page-title{
  width:97%;
  margin:1.49%;
}
 
#about{
  width: 54.79%;
  float: left;
  padding: 1.54%;
  margin-left: 1.49%;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom:2px solid black;
}

#skills{
  width: 40.71%;
  float: left;
  margin-left: 1.49%;
}

#education{
  width: 40.71%;
  float: left;
  margin-left: 1.49%;

}

#experience{
  width: 40.71%;
  float: left;
  margin-left: 1.49%;
  
}

footer{
  width:97%;
  padding: 1.54%;
  margin:1.49%;
  font-size: 20px;
}

}