body { 
    background-image: url('../resources/koifish.png');
    background-repeat: repeat;
   
   
   }
    
   h1 {
    font-family: Garamond;
    -webkit-text-stroke: 1px black;
    color: #8fbd82;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 25px;
   
    margin: auto; /*centers content along with the whole h1 element*/
    width: 400px;  
    
   font-size: 75px;
    text-align: center;
    width: fit-content;
    
   }
   /*ul {
    list-style-type: none;
    
   }
   
    ul li{
     background-color: aliceblue;
     border-radius: 25px;
     display: inline-block;
     
     padding: 10px;
    }
   
   
   ul li a{
     color: black;
  
    
    
   }
   */

  article{
    background-color: aliceblue;
    padding: 5px;
    border-radius: 25px;
    font-size: 25px;
    width: fit-content;
    block-size: fit-content;
    display: flex;
    text-align: center;
    
  }

  article h2{
    text-align: center;
  }

  article ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    padding: 5px;
  }

  article ul li a{
    color: black;
    
  }
