html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}

body { 
    background-image: url('../resources/background_8.jpg');
    background-repeat: repeat;
   }
    
main{
  margin:20px auto;
}
   
   
   header{
    font-family: Garamond;
    color: black;
    font-size: 90px;
    width:97%;
    margin:1.5%;
    float: left;
    padding: 1.5%;
    background-color: rgba(240, 248, 255, .9);
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px black;
  }

  nav{
    font-family: Garamond;
    color: black;
    font-size: 20px;
    width:97%;
    margin:1.5%;
    float: left;
    padding: 1.5%;
    text-align: center;
    border-radius: 5px;
   
  }

  nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

  nav ul li{
    display: inline;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
  }

  nav ul li a{
   color: rgba(240, 248, 255, .9);
   font-size: 30px;
   text-decoration: none;
   padding: 5px;
  }

  nav ul li:hover{
    background: none;
  }
  
  nav ul li a:hover {
   
    color: black;
  }

  section{
    font-family: Garamond;
    width: 47.8%;
    margin-left:1.5%;
    float: left;
    padding: 1.5%;
    font-size: 25px;
    background-color: rgba(240, 248, 255, .9);
    box-shadow: 2px 2px 2px 2px black;
    height: 800px;
    overflow: scroll;
    overflow-x:hidden;
    
  }

  #work h1{
    text-align: center;
    font-size: 50px;
  }

  #work{
    border-radius: 5px;
  }
  
  #work ul li{
    margin-bottom: 10px;
    padding: 10px;
  }

  #work p{
    font-size: 1.5vw;
  }
  
  #blog{
    border-radius: 5px;
  }

  #video{
    border-radius: 5px;
  }

  #video h1{
    text-align: center;
    font-size: 50px;
  }

  #video img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  }
  
  #blog h1{
    text-align: center;
    font-size: 50px;
  }
  
  section ul li a{
    color: black;
  }

  footer{
    width:97%;
    margin:1.5%;
    float: left;
    padding: 1.5%;
    background-color: rgba(240, 248, 255, .9);
    text-align:center;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px black;
  }

   footer p a{
    color: black;
    
   }

article h2{
  font-size: 25px;
}

/*scrollbar color*/

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #c585f7 rgba(240, 248, 255, .9);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: rgba(240, 248, 255, .9);
  }

  *::-webkit-scrollbar-thumb {
    background-color:#c585f7;
    border-radius: 6px;
    border: 3px solid rgba(240, 248, 255, .9);
  }

/*start of queries*/

@media screen and (max-width:565px){

  nav ul li{
    /*display: block;*/
    background:none;
  }

  nav ul li a{
    color: black;
    font-size: 1em;
    text-decoration: underline;
  }

}

@media screen and (max-width:480px){

  #work p{
    display: none;
  }

  nav ul li{
    display: block;
  }
  
}

@media screen and (max-width:764px){

  section{
    width:97%;
    margin:1.5%;
  }
 
  #work p{
    font-size: .8em;
  }
 
  header{
    font-size: 50px;
  }

}

@media screen and (max-width:480px){

section{
  font-size: 18px;
}

#work h1{
  font-size: 25px;
}

#video h1{
  font-size: 25px;
}

#blog h1{
  font-size: 25px;
}

#blog h2{
  font-size: 22px;
}

footer{
  font-size:15px;
}
}

@media screen and (max-width:275px){

header{
  font-size: 25px;
}

section{
  font-size: 13px;
}

#work h1{
  font-size: 18px;
}

#video h1{
  font-size: 18px;
}

#blog h1{
  font-size: 18px;
}

#blog h2{
  font-size: 15px;
  text-align: center;
}

#blog p{
  text-align: center;
}
footer{
  font: size 10px;
}
}

@media screen and (max-width:980px) and (min-width:481px){

  #work h1{
    font-size: 35px;
  }
  
  #video h1{
    font-size: 35px;
  }
  
  #blog h1{
    font-size: 35px;
  }

}

@media screen and (min-width:1150px){

  #work ul li{
    font-size:45px;
  }
}

@media screen and (min-width:912px){

  nav ul li{
    padding-top: 20px;
  }

  nav ul li a{
  font-size: 45px;
}

}