$color-white: rgba(240, 248, 255, .9);

header{
    background-color: $color-white;
}

section{
    background-color: $color-white;
}

nav {

   ul{

    a{
        color: $color-white;

    }

   }

}

footer{
    background-color: $color-white;
}