/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /*Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/ */
  /* Start of "Micro clearfix" */
  
  .cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }
  
  /* End of "Micro clearfix" */
  
main{
  margin:2vh auto;
  border:1px solid #000;
  width: 75vw;
  /*background-image: url(../resources/grid.png);*/
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap:20px;
  padding:0 20px;
}  

header.primary{
  background-color: aqua;
  grid-column: 1 / span 7;
  padding:20px;
   
}

#content{
  grid-column: 1 / span 7;
  display:grid;
  padding:0;
  grid-gap:20px;
  grid-template-columns: repeat(7,1fr);
}



#blog{
  background-color: aquamarine;
  grid-column: 1 / span 4;
  padding: 20px;
}
    

aside{
  background-color: blueviolet;
  grid-column: 5 / 8;
  padding:20px;
}

footer.primary{
  background-color: aqua;
  grid-column: 1 / span 7;
  padding:20px;
}

